.accordion
  margin-bottom: 33px
  &__header
    position: relative
    padding-right: 40px
    text: #3B3B3D 12px 1 0.5px bold
    text-transform: uppercase
    cursor: pointer
    transition: 0.3s all ease
    .icon
      position: absolute
      top: 2px
      right: 0 @md 4px
      fill: #1C85FF
      transition: 0.3s all ease
      transform: rotate(180deg)
    .icon-i-arrow-down
      transition: 0.3s all ease
      position: absolute
      top: 2px
      right: 0 @md 4px
      font-size: 12px
      color: #1C85FF
      transform: rotate(180deg)
    &:hover
      text: #1C85FF
    &--active
      .icon,
      .icon-i-arrow-down
        transform: rotate(0)
  &__drop
    display: none
    padding: 16px 0 0
    &--active
      display: block
    .checkbox
      &:last-child
        margin-bottom: 0
