.conf
  margin-top: 31px
  h3 , .h3
    margin: 0 0 25px
  @media $md-down
    .content-r
      order: 2
    .aside
      order: 1
  &-list
    box: wrap
    margin: * -12px
    padding-bottom: 170px @lg 130px
    &__item
      padding: * 12px
      margin-bottom: 20px @xl 24px
      flex: 0 0 100% @xl 0 0 50%
      max-width: 100% @xl 50%
      @media (max-width:1450px) and (min-width:1200px)
        .col-auto
          flex: 0 0 100%
          max-width: 100%
      @media (max-width:850px)
        .col-auto
          flex: 0 0 100%
          max-width: 100%
        .conf-list__btn
          width: 100%
    &__inner
      background: #fff
      border: 1px solid #DDDEE1
      padding: 15px @sm 18px
      padding-bottom: 15px @sm 27px
      box: wrap
      transition: 0.3s all ease
      &:hover ,
      &--active
        border-color: #1C85FF
        box-shadow: inset 0 0 0 1px #1C85FF
    &__cont
      padding: 0 @sm 12px 7px 0 26px
    &__img-w
      width: 100% @sm 134px
    &__img
      display: block
      width: 100%
    &__name
      display: inline-block
      vertical-align: top
      transition: 0.3s all ease
      text: #3B3B3D 18px 1.22 600
      text-decoration: none
      &:hover
        color: #1c85ff
    &__code
      text: #888B93 13px 1.23
      margin: 6px 0 0
    &__text
      text: #3B3B3D 11px 1.27
      margin: 11px 0 0 @xl 11px 0 10px
      min-height: 0 @xl 76px
    &__btn
      width: 180px
      margin-top: 16px
    &__price
      text: #3B3B3D 15px 1 1.2px bold
      text-transform: uppercase
      margin-top: 21px
    &__delivery-time
      text: #888B93 13px 1.23
      margin-top: 5px
