.header
  min-height: 0 @lg 160px
  background: #fff
  padding: 10px 0 @md 20px 0 10px @lg 20px 0 0
  border-bottom: 1px solid #DDDEE1
  .main-container
    position: relative
  &__logo
    display: inline-block
    vertical-align: top
    position: relative
    text: #3B3B3D 10px 1 0.5px bold @lg 12px
    text-transform: uppercase
    text-decoration: none
    padding-top: 9px @lg 11px
    margin-left: 40px @lg 67px @(min-width: 1600px) 0
    .icon-i-logo
      position: absolute
      top: 3px
      left: -40px @lg -67px
      text: #1C85FF 30px @lg 37px
  &__phone
    display: none @md inline-block
    vertical-align: top
    text: #3B3B3D 11px 12px 0.5px bold
    text-transform: uppercase
    text-decoration: none
    margin: 17px 11px 0 0
    transition: 0.3s all ease
    &:hover
      color: #1C85FF
  &__question
    display: inline-block
    vertical-align: top
    text: #3B3B3D 11px 18px 0.5px bold
    text-decoration: none
    text-transform: uppercase
    transition: 0.3s all ease
    margin: 14px 15px 0 0 @xl 14px 35px 0 0
    .icon-i-question
      margin-right: 0 @lg 10px
      font-size: 18px
      vertical-align: top
      display: inline-block
      position: relative
      top: -1px
    span
      display: none @lg inline-block
      vertical-align: top
    &:hover
      color: #1C85FF
  &__search
    display: inline-block
    vertical-align: top
    position: relative @(min-width: 1600px) absolute
    top: auto @(min-width: 1600px) 13px
    right: auto @(min-width: 1600px) -34px
    margin: 13px 0 0 @(min-width: 1600px) 0
    &-btn
      size: 18px
      box: wrap
      justify-content: center
      align-items: center
      cursor: pointer
      font-size: 16px
      i
        color: #3B3B3D
        transition: 0.3s all ease
      .icon-i-reset
        display: none
        size: 16px
        color: #1C85FF
      &:hover
        .icon-i
          &-search
            color: #1C85FF
          &-reset
            color: #000
      &--active
        .icon-i
          &-search
            display: none
          &-reset
            display: block
    &-cont
      position: absolute
      bottom: -5px @lg -27px
      left: 0
      width: 100%
      height: 32px @lg 90px
      background: #fff
      z-index: 150
      transition: 0.3s all ease
      opacity: 0
      visibility: hidden
      &--active
        opacity: 1
        visibility: visible
    &-input
      width: 100%
      height: 32px @lg 60px
      text-align: left @lg center
      outline: 0
      border: 0
      background: #fff
      text: #3B3B3D 13px @lg 36px
      margin: 6px 0 0
      font-family: $fontCirce
      border-bottom: 1px solid #DDDEE1 @lg 0
      padding: 0 30px 0 13px @lg 0
      &::placeholder
        color: #BBC0C9
    &-submit
      size: 18px
      font-size: 16px
      color: #3B3B3D
      border: 0
      outline: 0
      padding: 0
      margin: 0
      background: #fff
      position: absolute
      bottom: 3px
      right: 15px
      display: block @lg none
    &-result
      background: #fff
      width: 100% @sm 494px @md 634px @lg 774px
      margin-left: 0 @sm -247px @md -317px @lg -387px
      min-height: 100px
      box-shadow: 0px 10px 72px rgba(0, 0, 0, 0.178)
      padding: 16px
      padding-bottom: 0
      position: absolute
      left: 0 @sm 50%
      top: 30px @lg 82px
      z-index: 300
      transition: 0.3s all ease
      opacity: 0
      visibility: hidden
      transform: translate(0,100px)
      &--active
        opacity: 1
        visibility: visible
        transform: translate(0,0)
    &-label
      text: #888B93 11px 1.27
      margin-bottom: 16px
    &-row
      box: wrap
      margin: 0 -6px
    &-item
      padding: 0 6px
      flex: 0 0 50% @sm 0 0 33.3% @md 0 0 25% @lg 0 0 20%
      max-width: 50% @sm 33.3% @md 25% @lg 20%
      margin-bottom: 16px
    &-inner
      display: block
      border: 1px solid #DDDEE1
      background: #fff
      text-decoration: none
      padding: 0 10px 10px
      transition: 0.3s all ease
      &:hover
        border-color: #1C85FF
        box-shadow: inset 0 0 0 1px #1C85FF
    &-img-w
      height: 115px
      box: wrap
      justify-content: center
      align-items: center
      padding: 10px 0
    &-img
      max-width: 100%
      max-height: 100%
    &-name
      text: #3B3B3D 11px 1.09 0.55px bold center
      text-transform: uppercase
      min-height: 30px
      span
        text: #1C85FF
    &-status
      text: #888B93 10px 1.4 center
      margin: 5px 0 0
  &__switch
    box: wrap
    size: 290px 40px
    position: absolute
    top: 45px @md 0
    left: 50%
    margin-left: -145px
    &:before
      position: absolute
      display: block
      content: ''
      size: 1px 38px
      background: #fff
      left: 50%
      top: 1px
      margin-left: -0.5px
      z-index: 10
    &-item
      size: 50% 40px
      transition: 0.3s all ease
      border: 1px solid #1d85ff
      text-decoration: none
      position: relative
      display: block
      overflow: hidden
      &:nth-child(1)
        border-right: 0
        border-radius: 40px 0 0 40px
      &:nth-child(2)
        border-left: 0
        border-radius: 0 40px 40px 0
      i
        fill: #3b3b3d
        display: block
        line-height: 1
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
      .icon-i-logo-h
        font-size: 70px
      .icon-i-logo-d
        font-size: 72px
      &--active,
      &:hover
        background: #1d85ff
        i
          color: #fff
  &__nav
    display: flex
    flex-wrap: wrap
    justify-content: center
    padding: 0
    margin: 90px auto 0 @md 48px auto 0 @lg 65px auto 0
    list-style: none
    width: 370px @(min-width:430px) auto
    position: relative @(min-width:430px) static
    left: 50% @(min-width:430px) auto
    transform: translate(-50%,0) @(min-width:430px) translate(0,0)
    &-item
      width: 123px @lg 274px
      text: center
      position: relative
      &:after,
      &:before
        position: absolute
        display: block
        content: ''
        height: 2px
        width: calc(100% - 20px) @lg calc(100% - 40px)
        top: -17px
        left: -51px @lg -117px
        margin-right: 20px
      &:before
        background: #DDDEE1
      &:after
        width: 0
        background: #1C85FF
        transition: 0.3s all ease
      &:first-child
        &:before ,
        &:after
          display: none
      &:hover ,
      &--active
        &:after
          width: calc(100% - 20px) @lg calc(100% - 40px)
    &-link
      display: block
      position: relative
      text: #BBC0C9 12px 1 0.5px 500
      text-transform: uppercase
      text-decoration: none
      transition: 0.3s all ease
      span
        display: none @lg block
      &:before
        position: absolute
        display: block
        content: ''
        size: 10px
        border-radius: 100%
        background: #BBC0C9 @lg #1C85FF
        top: -21px
        left: 50%
        margin-left: -5px
        transition: 0.3s all ease
      &:hover ,
      &--active
        color: #1C85FF
        &:before
          background: #1C85FF
