.product-list
  margin: * -6px @lg * -12px
  box: wrap
  padding-bottom: 130px
  &__item
    padding: * 6px @lg * 12px
    margin-bottom: 12px @lg 24px
    flex: 0 0 50% @lg 0 0 33.3% @(min-width:1280px) 0 0 25%
    max-width: 50% @lg 33.3% @(min-width:1280px) 25%
  &__inner
    background: #fff
    border: 1px solid #DDDEE1
    transition: 0.3s all ease
    min-height: 100px
    display: block
    text-decoration: none
    &:hover ,
    &--active
      border-color: #1C85FF
      box-shadow: inset 0 0 0 1px #1C85FF
  &__img-w
    height: 115px @lg 251px
    padding: 10px
    box: wrap
    justify-content: center
    align-items: center
  &__img
    max-width: 100%
    max-height: 100%
  &__cont
    padding: 10px 10px 15px @lg 10px 10px 27px
    text: center
  &__name
    text: #3B3B3D 11px 1 0.75px bold @lg 15px
    text-transform: uppercase
  &__category
    text: #888B93 10px 1.23 @lg 13px
    margin-top: 5px @lg 13px
.product-footer
  position: fixed
  width: 100%
  height: auto @lg 124px
  background: #fff
  z-index: 300
  box-shadow: 0px 10px 72px rgba(0, 0, 0, 0.178)
  left: 0
  bottom: 0
  padding: 20px 0 @lg 0
  .col-auto
    @media $lg-down
      flex: 0 0 100%
      max-width: 100%
      margin: 0
      text-align: center
  &__status
    position: static @lg absolute
    top: auto @lg 50%
    left: auto @lg 50%
    transform: translate(0,0) @lg translate(-50%,-50%)
    text: #888B93 13px 1.23 center
    @media $lg-down
      width: 100%
    span
      text: #3B3B3D
  &__btn
    width: 270px
    margin: 15px 0 0 @lg 42px 0 0
