.selected-c
  border-bottom: 1px solid #DDDEE1
  background: #fff
  padding: 21px 0 31px
  overflow: hidden
  .main-container
    position: relative
  &:hover
    .selected-c__arrow
      opacity: 1
  h3 , .h3
    margin: 0 0 15px
  &__inner
    width: 100% @(min-width:1450px) calc(100% + 250px)
  &__arrow
    position: absolute
    top: 100px
    size: 30px 50px
    background: rgba(#000,0.2)
    box: wrap
    justify-content: center
    align-items: center
    z-index: 100
    cursor: pointer
    transition: 0.3s all ease
    opacity: 1 @lg 0
    &:hover
      background: #1d85ff
    .icon
      fill: #fff
    &--prev
      left: 0 @(min-width:1550px) -16px
    &--next
      right: 0 @(min-width:1550px) -16px
.selected
  &-slider
    &__item
      margin: * 2px @lg * 10px @(min-width:1450px) * 20px
      position: relative
      outline: 0!important
    &__inner
      size: 140px 175px
      border: 1px solid #DDDEE1
      display: block
      text-decoration: none
      cursor: pointer
      transition: 0.3s all ease
      outline: 0!important
      &:hover ,
      &--active
        border-color: #1C85FF
        box-shadow: inset 0 0 0 1px #1C85FF
    &__img-w
      box: wrap
      justify-content: center
      align-items: center
      height: 107px
      padding: 5px
    &__img
      max-width: 100%
      max-height: 100%
    &__cont
      padding: 10px 20px 0
      text: center
    &__name
      text: #3B3B3D 11px 1.09 0.55px bold
      text-transform: uppercase
    &__status
      text: #888B93 10px 1.4
      margin: 12px 0 0
    &__remove
      box: wrap
      justify-content: center
      align-items: center
      position: absolute
      top: 0
      right: 0
      z-index: 10
      size: 24px 29px
      outline: 0
      .icon
        fill: #DDDEE1
        transition: 0.3s all ease
      &:hover
        .icon
          fill: red
