.settings
  margin-top: 31px
  padding-bottom: 15px @md 300px @(min-width:830px) 176px
  @media $md-down
    .accordion
      margin-bottom: 20px
    .settings__a-cont
      .accordion
        margin-bottom: 0
  &__item
    background: #fff
    border: 1px solid #DDDEE1
    padding: 12px @sm 15px @xl 22px
    box: wrap
    position: relative
    margin-bottom: 15px
    .accordion__drop
      display: block @xl block
  &__img-w
    width: 100% @md 200px @xl 220px @(min-width:1280px) 280px
    padding-top: 20px @xl 40px @(min-width:1280px) 89px
    @media $md-down
      box: wrap
  &__img
    width: 100%
    display: block
    order: 1 @md 0
  &__logo
    margin: 0 0 15px @md 15px 0 0 @xl 34px 0 0 24px
    max-width: 100%
    order: 0 @md 1
  &__cont
    padding-left: 0 @md 20px @(min-width:1280px) 35px
    padding-top: 15px @(min-width:1280px) 17px
    .accordion__header
      .icon
        display: block @xl none
  &__name
    text: #3B3B3D 18px 1.11 bold @xl 30px @(min-width:1280px) 36px
    margin-bottom: 15px @xl 30px
  &__a-col
    width: 100% @xl 280px @(min-width:1280px) 348px
  &__a-cont
    padding-left: 0 @xl 15px @(min-width:1280px) 30px
  &__list
    padding: 0
    margin: 0
    list-style: none
    &-item
      text: #3B3B3D 15px 1.33
      margin-bottom: 11px
    &-link
      text-decoration: none
      color: #1C85FF
      &:hover
        text-decoration: underline
  &__remove
    margin: 0 0 0 10px
    display: inline-block
    vertical-align: top
    position: relative
    outline: 0
    top: 3px
    text-decoration: none
    i
      color: #BBC0C9
      font-size: 10px
      transition: 0.3s all ease
      position: relative
      top: -4px
    .icon
      fill: #BBC0C9
      transition: 0.3s all ease
    &:hover
      .icon
        fill: red
      i
        color: red
    &--all
      top: 8px
      right: 10px
      position: absolute
  &__footer
    border-top: 1px solid #DDDEE1
    margin-top: 7px
    box: wrap
    padding: 15px 0 0 @md 26px 0 0
    @media $md-down
      .col-auto
        flex: 0 0 100%
        max-width: 100%
        text-align: center
        &:nth-child(1)
          order: 1
        &:nth-child(2)
          order: 0
  &__price
    text: #3B3B3D 24px 1.11 600 @md 36px
    padding-right: 0 @md 18px
    display: inline-block
    vertical-align: top
    span
      text: 15px * 400 @md 24px
  &__delivery-time
    display: inline-block
    vertical-align: top
    text: #888B93 13px 1.23
    margin: 5px 20px 0 5px @md 15px 52px 0 0
    span
      text: #3B3B3D
  &__save
    display: inline-block
    vertical-align: top
    text: #1C85FF 13px 1.23
    text-decoration: none
    margin: 5px 0 0 @md 15px 0 0
    .icon
      fill: #1C85FF
      margin: 0 10px 0 0
    .icon-i-save
      margin: 0 10px 0 0
      font-size: 12px
      color: #1C85FF
    &:hover
      text-decoration: underline
  &__info
    margin: -11px 0 0
    padding-right: 15px
    &-row
      border-bottom: 1px solid  #DDDEE1
      box: wrap
      padding: 15px 0 @md 22px 0
      &:last-child
        border-bottom: 0
    &-r-name
      text: #888B93 15px 1.33 bold
      width: 100% @lg 120px @(min-width:1280px) 162px
      margin-bottom: 5px @lg 0
    &-cont
      padding-left: 0 @lg 24px
      width: 100% @lg calc(100% - 120px) @(min-width:1280px) calc(100% - 162px)
    &-name
      text: #3B3B3D 15px 1.33
      @media $md-down
        flex: 0 0 100%
        max-width: 100%
        margin-bottom: 5px
    &-add
      text: #1C85FF 15px 1.33
      text-decoration: none
      white-space: nowrap
      margin-left: 0 @md 24px
      display: inline-block
      vertical-align: top
      i
        font-size: 11px
        margin: 4px 6px 0 0
        display: inline-block
        vertical-align: top
      .icon
        fill: #1C85FF
        margin: 4px 6px 0 0
      &:hover
        text-decoration: underline
  &__link
    text: #1C85FF 15px 1.33
    text-decoration: none
    margin-top: 7px
    display: inline-block
    vertical-align: top
    &:hover
      text-decoration: underline
  &__table
    margin: 10px -4px 0 @md 16px -9px 0
    &-row
      box: wrap
      width: 100%
      margin-bottom: 15px
      &:last-child
        margin-bottom: 0
    &-td
      padding: * 4px @md * 9px
      &--small
        width: 70px @md 87px
      &--remove
        width: 15px
        padding-right: 0
        padding-left: 5px
        .settings__remove
          margin: 9px 0 0
      &--col-1
        width: calc(100% - 85px)  @md calc(100% - 102px)
      &--col-2
        width: calc(100% - 155px)  @md  calc(100% - 189px)
  &__feedback
    background: #fff
    margin: 15px 0 0 @md 40px 0 0
    border: 1px solid #DDDEE1
    box: wrap
    align-items: center
    padding: 20px 15px @(min-width: 1280px) 40px 36px
    @media(max-width: 1280px)
      .col-auto
        flex: 0 0 100%
        max-width: 100%
        text-align: center
    @media $md-down
      .col-auto
        &:nth-child(1)
          text-align: left
    &--btn
      width: 260px @md 270px
    &-phone
      display: block @md inline-block
      vertical-align: top
      transition: 0.3s all ease
      text-decoration: none
      text: #3B3B3D 18px 1.08 bold @md 24px
      margin: 0 auto 15px @md 7px 74px 0 0
      width: 180px @md auto
    &-info
      position: relative
      text: #3B3B3D 15px 1.33
      padding: 2px 0 0 66px
      margin-bottom: 10px @md 20px @(min-width: 1280px) 0
      display: inline-block @(min-width: 1280px) block
      vertical-align: top
      span
        display: block
      .icon
        fill: #1C85FF
        size: 48px
        position: absolute
        top: 50%
        left: -6px
        margin-top: -24px
      .icon-i-question
        font-size: 48px
        color: #1C85FF
        display: inline-block
        vertical-align: top
        position: absolute
        top: 50%
        left: -6px
        margin-top: -24px
  &__total
    position: static @md fixed
    left: auto @md 0
    bottom: auto @md 0
    width: 100%
    z-index: 300
    background: #fff
    box-shadow: 0px 10px 72px rgba(0, 0, 0, 0.178)
    .flex-wrap
      align-items: center
      padding: 20px 15px @xl 40px 15px
      @media $xl-down
        .col-auto
          flex: 0 0 100%
          max-width: 100%
          text-align: center
          &:nth-child(1)
            margin-bottom: 15px
      @media (max-width: 830px)
        .col-auto
          &:nth-child(1)
            order: 1
            margin-bottom: 0!important
          &:nth-child(2)
            order: 0
    &--btn
      width: 270px @(min-width:830px) 180px @(min-width:1280px) 220px @(min-width:1400px) 270px
      margin-top: 6px @(min-width:830px) 0
    &-box
      display: block @(min-width:830px) inline-flex
      vertical-align: top
      margin-right: 0 @(min-width:830px) 10px @(min-width:1280px) 13px
      .form-row
        width: 270px @(min-width:830px) 130px @(min-width:1280px) 164px
        margin: 0 auto @(min-width:830px) 0
    &-label
      text:  #888B93 13px 1.23 center @(min-width:830px) right
      padding: 5px 10px 0 0
      margin: 0 0 5px @(min-width:830px) 0
      span
        display: inline @(min-width:830px) block
    &-price
      text: #3B3B3D 36px 1.11 bold
      margin-right: 10px
      padding-left: 10px
      span
        text: 24px * 400
    &-delivery-time
      display: none @(min-width:830px) inline-block
      vertical-align: top
      margin: 0 0 5px @(min-width:830px) 0 0 0 15px @(min-width:1400px) 0 0 0 45px
      padding-top: 5px
      text: #888B93 13px 1.23 center @(min-width:830px) left
      span
        text: #3B3B3D
        display: inline @(min-width:830px) block
        margin: 3px 0 0
      .icon
        fill: #3b3b3d
        margin: 0 6px 0 0
      &--mob
        display: block @(min-width:830px) none
