.btn
  text-decoration: none
  transition: 0.3s all ease
  text-align: center
  display: inline-block
  vertical-align: top
  outline: 0
  text-transform: uppercase
  height: 40px
  border: 0
  text: 10px 40px 1px bold
  padding: 0 20px
  &--blue
    background: #1C85FF
    text: #fff
    &:hover
      background: #03a9f4
  &--gray
    background: #BBC0C9
    text: #fff
    &:hover
      background: #999
  &--full
    width: 100%


.btn-r
  text-decoration: none
  transition: 0.3s all ease
  text-align: center
  display: inline-block
  vertical-align: top
  outline: 0
  text-transform: uppercase
  height: 40px
  border: 1px solid
  text: 10px 38px 1px bold
  padding: 0 20px
  &--blue
    border-color: #1C85FF
    color: #1C85FF
    .icon-i-question
      font-size: 18px
      vertical-align: top
      display: inline-block
      margin: 9px 10px 0 0
    .icon
      fill: #1C85FF
      transition: 0.3s all ease
      &--question
        margin: 9px 10px 0 0
    &:hover
      background: #1C85FF
      color: #fff
      .icon
        fill: #fff
