@font-face
  font-family: 'Proxima Nova'
  src: url('$rootUrlFonts/ProximaNova/ProximaNova-Extrabld.eot')
  src: local('Proxima Nova Extrabold'), local('ProximaNova-Extrabld'),
    url('$rootUrlFonts/ProximaNova/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
    url('$rootUrlFonts/ProximaNova/ProximaNova-Extrabld.woff') format('woff'),
    url('$rootUrlFonts/ProximaNova/ProximaNova-Extrabld.ttf') format('truetype')
  font-weight: 800
  font-style: normal
@font-face
  font-family: 'Proxima Nova'
  src: url('$rootUrlFonts/ProximaNova/ProximaNova-Regular.eot')
  src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
    url('$rootUrlFonts/ProximaNova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('$rootUrlFonts/ProximaNova/ProximaNova-Regular.woff') format('woff'),
    url('$rootUrlFonts/ProximaNova/ProximaNova-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal
@font-face
  font-family: 'Proxima Nova'
  src: url('$rootUrlFonts/ProximaNova/ProximaNova-Semibold.eot')
  src: local('Proxima Nova Semibold'), local('ProximaNova-Semibold'),
    url('$rootUrlFonts/ProximaNova/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
    url('$rootUrlFonts/ProximaNova/ProximaNova-Semibold.woff') format('woff'),
    url('$rootUrlFonts/ProximaNova/ProximaNova-Semibold.ttf') format('truetype')
  font-weight: 500
  font-style: normal
@font-face
  font-family: 'Proxima Nova'
  src: url('$rootUrlFonts/ProximaNova/ProximaNova-Black.eot')
  src: local('Proxima Nova Black'), local('ProximaNova-Black'),
    url('$rootUrlFonts/ProximaNova/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
    url('$rootUrlFonts/ProximaNova/ProximaNova-Black.woff') format('woff'),
    url('$rootUrlFonts/ProximaNova/ProximaNova-Black.ttf') format('truetype')
  font-weight: 900
  font-style: normal
@font-face
  font-family: 'Proxima Nova'
  src: url('$rootUrlFonts/ProximaNova/ProximaNova-Bold.eot')
  src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
    url('$rootUrlFonts/ProximaNova/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
    url('$rootUrlFonts/ProximaNova/ProximaNova-Bold.woff') format('woff'),
    url('$rootUrlFonts/ProximaNova/ProximaNova-Bold.ttf') format('truetype')
  font-weight: bold
  font-style: normal
@font-face
  font-family: 'Proxima Nova'
  src: url('$rootUrlFonts/ProximaNova/ProximaNova-Light.eot')
  src: local('Proxima Nova Light'), local('ProximaNova-Light'),
    url('$rootUrlFonts/ProximaNova/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
    url('$rootUrlFonts/ProximaNova/ProximaNova-Light.woff') format('woff'),
    url('$rootUrlFonts/ProximaNova/ProximaNova-Light.ttf') format('truetype')
  font-weight: 300
  font-style: normal
@font-face
  font-family: 'Proxima Nova'
  src: url('$rootUrlFonts/ProximaNova/ProximaNovaT-Thin.eot')
  src: local('Proxima Nova Thin'), local('ProximaNovaT-Thin'),
    url('$rootUrlFonts/ProximaNova/ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),
    url('$rootUrlFonts/ProximaNova/ProximaNovaT-Thin.woff') format('woff'),
    url('$rootUrlFonts/ProximaNova/ProximaNovaT-Thin.ttf') format('truetype')
  font-weight: 100
  font-style: normal
@font-face
  font-family: 'Circe'
  src: url('$rootUrlFonts/Circe/Circe-Regular.eot')
  src: local('Circe'), local('Circe-Regular'),
    url('$rootUrlFonts/Circe/Circe-Regular.eot?#iefix') format('embedded-opentype'),
    url('$rootUrlFonts/Circe/Circe-Regular.woff') format('woff'),
    url('$rootUrlFonts/Circe/Circe-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal
