.form-row
  margin-bottom: 15px
  &--submit
    margin-bottom: 0
    margin-top: 25px
  &__input
    height: 40px
    background: #fff
    padding: 0 13px
    width: 100%
    outline: 0
    border: 1px solid #DDDEE1
    text: #3B3B3D 13px 1.23
    &::placeholder
      color: #3B3B3D
  &__textarea
    height: 93px
    background: #fff
    padding: 10px 13px
    width: 100%
    outline: 0
    border: 1px solid #DDDEE1
    text: #3B3B3D 13px 1.23
    &::placeholder
      color: #3B3B3D
.checkbox
  position: relative
  display: block
  text: #888B93 13px 1.23
  transition: 0.3s all ease
  padding: 0 24px
  cursor: pointer
  margin-bottom: 17px
  &:hover ,
  &--active
    text: #3B3B3D
  &__cont
    size: 14px
    position: absolute
    top: 0
    left: 0
    border: 1px solid #BBC0C9
    border-radius: 2px
  &__input
    size: 14px
    opacity: 0
    z-index: 10
    cursor: pointer
    position: relative
    &:checked + .checkbox__style
      opacity: 1
      transform: scale(1)
  &__style
    position: absolute
    size: 14px
    top: -1px
    left: -1px
    border-radius: 2px
    box: wrap
    justify-content: center
    align-items: center
    background: #1C85FF
    opacity: 0
    transform: scale(0)
    transition: 0.3s all ease
    &:before
      display: block
      content: ''
      size: 8px 6px
      background: url('$rootUrl/check.svg') no-repeat center
      background-size: cover
      margin: -1px 0 0 0
    .icon
      fill: #fff
  &__num
    position: absolute
    top: 0
    right: 0
    text: #888B93 11px 1.45
.jq-selectbox
  vertical-align: top
  width: 100%
  &__select
    width: 100%
    position: relative
    z-index: 20
    &-text
      height: 35px
      border: 1px solid #DDDEE1
      text: #3B3B3D 13px 33px
      padding: 0 25px 0 10px
      background: #fff
  &__trigger
    position: absolute
    top: 0
    right: 0
    size: 35px
    &-arrow
      width: 0
      height: 0
      border-style: solid
      border-width: 5px 4px 0 4px
      border-color: #BBC0C9 transparent transparent transparent
      position: absolute
      top: 50%
      left: 50%
      margin-top: -3px
      transition: 0.3s all ease
  &.opened
    .jq-selectbox__trigger-arrow
      transform: rotate(180deg)
  &__dropdown
    background: #fff
    width: 100%
    box-shadow: 0px 10px 72px rgba(0, 0, 0, 0.178)
    ul
      padding: 15px 10px
      margin: 0
      list-style: none
    li
      text: #3B3B3D 13px 1.23
      margin-bottom: 25px
      transition: 0.3s all ease
      cursor: pointer
      &:last-child
        margin-bottom: 0
      &:hover ,
      &.sel,
      &.selected
        color: #1C85FF
      &.hidden-option
        display: none!important
  &.dropup
    .jq-selectbox__dropdown
      margin-bottom: -35px
      padding-bottom: 35px
    .jq-selectbox__select-text
      border-color: #fff
  &.dropdown
    .jq-selectbox__dropdown
      margin-top: -35px
      padding-top: 35px
    .jq-selectbox__select-text
      border-color: #fff
