#main
  width: 100%
  min-height: 100vh
  overflow: hidden
.main-container
  max-width: 1450px
  margin: * auto
  padding: * $indentDefault
.cont
  margin-top: 24px
  box: wrap
.aside
  width: 100% @md 265px
  margin-bottom: 12px @md 0
  &__inner
    border: 1px solid #DDDEE1
    background: #fff
    padding: 15px
  &__title
    text: #3B3B3D 18px 1.22 600
    position: relative
    span
      display: inline @md block
    .icon-i-arrow-down
      position: absolute
      top: 7px
      right: 0
      color: #1C85FF
      font-size: 12px
      transition: 0.3s all ease
      display: inline-block @md none
    &--active
      .icon-i-arrow-down
        transform: rotate(180deg)
  &__cont
    display: none @md block
    padding-top: 25px
  &__sub-title
    text: #3B3B3D 12px 1 0.5px bold
    text-transform: uppercase
    margin-bottom: 19px
  &__hint
    text: #888B93 11px 14px
    margin: 10px 0 25px
  &__reset
    text-align: center
    display: block
    text: #1C85FF 10px 1 1px bold
    text-transform: uppercase
    text-decoration: none
    margin: 21px 0 0
    transition: 0.3s all ease
    .icon
      fill: #1C85FF
      margin: 0 8px 0 0
      transition: 0.3s all ease
    .icon-i-reset
      font-size: 10px
      margin: 0 8px 0 0
    &:hover
      text: #03a9f4
      .icon
        fill: #03a9f4
.content-l
  padding-left: 0 @md 12px @lg 24px
.content-r
  padding-right: 0 @md 12px @lg 24px
.flex-wrap
  box: wrap
.flex-p-wrap
  box: wrap
  margin: * -$indentDefault
  & > [class*="col-"]
    padding: * $indentDefault
.col-auto
  flex: 0 0 auto
  width: auto
  max-width: 100%
.col
  flex-basis: 0
  flex-grow: 1
  max-width: 100%
  &-1-5
    width: 20%
  &-2-5
    width: 40%
  &-3-5
    width: 60%
  &-4-5
    width: 80%
  &-1-24
    width: 4.1667%
  &-1-12, &-2-24
    width: 8.3333%
  &-1-8, &-3-24
    width: 12.5%
  &-1-6, &-4-24
    width: 16.6667%
  &-5-24
    width: 20.8333%
  &-1-4, &-6-24
    width: 25%
  &-7-24
    width: 29.1667%
  &-1-3, &-8-24
    width: 33.3333%
  &-3-8, &-9-24
    width: 37.5%
  &-10-24, &-5-12
    width: 41.6667%
  &-11-24
    width: 45.8333%
  &-1-2, &-12-24
    width: 50%
  &-13-24
    width: 54.1667%
  &-14-24, &-7-12
    width: 58.3333%
  &-15-24, &-5-8
    width: 62.5%
  &-16-24, &-2-3
    width: 66.6667%
  &-17-24
    width: 70.8333%
  &-18-24, &-3-4
    width: 75%
  &-19-24
    width: 79.1667%
  &-20-24, &-5-6
    width: 83.3333%
  &-21-24, &-7-8
    width: 87.5%
  &-11-12, &-22-24
    width: 91.6667%
  &-23-24
    width: 95.8333%
  &-1, &-1-1, &-24-24, &-5-5
    width: 100%
@media $sm
  .col
    &-sm-1-5
      width: 20%
    &-sm-2-5
      width: 40%
    &-sm-3-5
      width: 60%
    &-sm-4-5
      width: 80%
    &-sm-1-24
      width: 4.1667%
    &-sm-1-12, &-sm-2-24
      width: 8.3333%
    &-sm-1-8, &-sm-3-24
      width: 12.5%
    &-sm-1-6, &-sm-4-24
      width: 16.6667%
    &-sm-5-24
      width: 20.8333%
    &-sm-1-4, &-sm-6-24
      width: 25%
    &-sm-7-24
      width: 29.1667%
    &-sm-1-3, &-sm-8-24
      width: 33.3333%
    &-sm-3-8, &-sm-9-24
      width: 37.5%
    &-sm-10-24, &-sm-5-12
      width: 41.6667%
    &-sm-11-24
      width: 45.8333%
    &-sm-1-2, &-sm-12-24
      width: 50%
    &-sm-13-24
      width: 54.1667%
    &-sm-14-24, &-sm-7-12
      width: 58.3333%
    &-sm-15-24, &-sm-5-8
      width: 62.5%
    &-sm-16-24, &-sm-2-3
      width: 66.6667%
    &-sm-17-24
      width: 70.8333%
    &-sm-18-24, &-sm-3-4
      width: 75%
    &-sm-19-24
      width: 79.1667%
    &-sm-20-24, &-sm-5-6
      width: 83.3333%
    &-sm-21-24, &-sm-7-8
      width: 87.5%
    &-sm-11-12, &-sm-22-24
      width: 91.6667%
    &-sm-23-24
      width: 95.8333%
    &-sm-1, &-sm-1-1, &-sm-24-24, &-sm-5-5
      width: 100%
@media $md
  .col
    &-md-1-5
      width: 20%
    &-md-2-5
      width: 40%
    &-md-3-5
      width: 60%
    &-md-4-5
      width: 80%
    &-md-1-24
      width: 4.1667%
    &-md-1-12, &-md-2-24
      width: 8.3333%
    &-md-1-8, &-md-3-24
      width: 12.5%
    &-md-1-6, &-md-4-24
      width: 16.6667%
    &-md-5-24
      width: 20.8333%
    &-md-1-4, &-md-6-24
      width: 25%
    &-md-7-24
      width: 29.1667%
    &-md-1-3, &-md-8-24
      width: 33.3333%
    &-md-3-8, &-md-9-24
      width: 37.5%
    &-md-10-24, &-md-5-12
      width: 41.6667%
    &-md-11-24
      width: 45.8333%
    &-md-1-2, &-md-12-24
      width: 50%
    &-md-13-24
      width: 54.1667%
    &-md-14-24, &-md-7-12
      width: 58.3333%
    &-md-15-24, &-md-5-8
      width: 62.5%
    &-md-16-24, &-md-2-3
      width: 66.6667%
    &-md-17-24
      width: 70.8333%
    &-md-18-24, &-md-3-4
      width: 75%
    &-md-19-24
      width: 79.1667%
    &-md-20-24, &-md-5-6
      width: 83.3333%
    &-md-21-24, &-md-7-8
      width: 87.5%
    &-md-11-12, &-md-22-24
      width: 91.6667%
    &-md-23-24
      width: 95.8333%
    &-md-1, &-md-1-1, &-md-24-24, &-md-5-5
      width: 100%
@media $lg
  .col
    &-lg-1-5
      width: 20%
    &-lg-2-5
      width: 40%
    &-lg-3-5
      width: 60%
    &-lg-4-5
      width: 80%
    &-lg-1-24
      width: 4.1667%
    &-lg-1-12, &-lg-2-24
      width: 8.3333%
    &-lg-1-8, &-lg-3-24
      width: 12.5%
    &-lg-1-6, &-lg-4-24
      width: 16.6667%
    &-lg-5-24
      width: 20.8333%
    &-lg-1-4, &-lg-6-24
      width: 25%
    &-lg-7-24
      width: 29.1667%
    &-lg-1-3, &-lg-8-24
      width: 33.3333%
    &-lg-3-8, &-lg-9-24
      width: 37.5%
    &-lg-10-24, &-lg-5-12
      width: 41.6667%
    &-lg-11-24
      width: 45.8333%
    &-lg-1-2, &-lg-12-24
      width: 50%
    &-lg-13-24
      width: 54.1667%
    &-lg-14-24, &-lg-7-12
      width: 58.3333%
    &-lg-15-24, &-lg-5-8
      width: 62.5%
    &-lg-16-24, &-lg-2-3
      width: 66.6667%
    &-lg-17-24
      width: 70.8333%
    &-lg-18-24, &-lg-3-4
      width: 75%
    &-lg-19-24
      width: 79.1667%
    &-lg-20-24, &-lg-5-6
      width: 83.3333%
    &-lg-21-24, &-lg-7-8
      width: 87.5%
    &-lg-11-12, &-lg-22-24
      width: 91.6667%
    &-lg-23-24
      width: 95.8333%
    &-lg-1, &-lg-1-1, &-lg-24-24, &-lg-5-5
      width: 100%
@media $xl
  .col
    &-xl-1-5
      width: 20%
    &-xl-2-5
      width: 40%
    &-xl-3-5
      width: 60%
    &-xl-4-5
      width: 80%
    &-xl-1-24
      width: 4.1667%
    &-xl-1-12, &-xl-2-24
      width: 8.3333%
    &-xl-1-8, &-xl-3-24
      width: 12.5%
    &-xl-1-6, &-xl-4-24
      width: 16.6667%
    &-xl-5-24
      width: 20.8333%
    &-xl-1-4, &-xl-6-24
      width: 25%
    &-xl-7-24
      width: 29.1667%
    &-xl-1-3, &-xl-8-24
      width: 33.3333%
    &-xl-3-8, &-xl-9-24
      width: 37.5%
    &-xl-10-24, &-xl-5-12
      width: 41.6667%
    &-xl-11-24
      width: 45.8333%
    &-xl-1-2, &-xl-12-24
      width: 50%
    &-xl-13-24
      width: 54.1667%
    &-xl-14-24, &-xl-7-12
      width: 58.3333%
    &-xl-15-24, &-xl-5-8
      width: 62.5%
    &-xl-16-24, &-xl-2-3
      width: 66.6667%
    &-xl-17-24
      width: 70.8333%
    &-xl-18-24, &-xl-3-4
      width: 75%
    &-xl-19-24
      width: 79.1667%
    &-xl-20-24, &-xl-5-6
      width: 83.3333%
    &-xl-21-24, &-xl-7-8
      width: 87.5%
    &-xl-11-12, &-xl-22-24
      width: 91.6667%
    &-xl-23-24
      width: 95.8333%
    &-xl-1, &-xl-1-1, &-xl-24-24, &-xl-5-5
      width: 100%
