.icon
  display: inline-block
  vertical-align: top
  fill: #000
  &--logo
    size: 37px
  &--question
    size: 18px
  &--search
    size: 16px
  &--logo-h
    size: 70px 29px
  &--logo-d
    size: 72px 13px
  &--arrow-down
    size: 12px 7px
  &--arrow-right
    size: 7px 12px
  &--arrow-left
    size: 7px 12px
  &--check
    size: 7px 5px
  &--reset
    size: 10px
  &--remove
    size: 10px 11px
  &--save
    size: 12px 13px
  &--add
    size: 11px
  &--calendar
    size: 12px 13px
  &--check-o
    size: 18px

@font-face
  font-family: 'icomoon'
  src:  url('$rootUrlFonts/icomoon/icomoon.eot?1f4xg6')
  src:  url('$rootUrlFonts/icomoon/icomoon.eot?1f4xg6#iefix') format('embedded-opentype'),
    url('$rootUrlFonts/icomoon/icomoon.ttf?1f4xg6') format('truetype'),
    url('$rootUrlFonts/icomoon/icomoon.woff?1f4xg6') format('woff'),
    url('$rootUrlFonts/icomoon/icomoon.svg?1f4xg6#icomoon') format('svg')
  font-weight: normal
  font-style: normal
  font-display: block


[class^="icon-i-"],
[class*=" icon-i-"]
  font-family: 'icomoon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-i
  &-add:before
    content: "\e900"
  &-arrow-down:before
    content: "\e901"
  &-arrow-left:before
    content: "\e902"
  &-arrow-right:before
    content: "\e903"
  &-calendar:before
    content: "\e904"
  &-check:before
    content: "\e905"
  &-check-o:before
    content: "\e906"
  &-logo:before
    content: "\e907"
  &-logo-d:before
    content: "\e908"
  &-logo-h:before
    content: "\e909"
  &-question:before
    content: "\e90a"
  &-remove:before
    content: "\e90b"
  &-reset:before
    content: "\e90c"
  &-save:before
    content: "\e90d"
  &-search:before
    content: "\e90e"
