.modal
  position: absolute
  top: 0 @sm 100px
  left: 50%
  width: 100%
  width: 100% @sm 520px
  min-height: 100px
  opacity: 0
  transform: translate(-50%, 0) scale(0.5)
  transition: 0.3s all ease
  z-index: -1
  visibility: hidden
  padding: 0 15px
  background: #fff
  box-shadow: 0px 10px 72px rgba(0, 0, 0, 0.178)
  padding: 37px 15px 41px
  &__in
    z-index: 1004
    opacity: 1
    visibility: visible
    transform: translate(-50%, 0) scale(1)
  &__btn-close
    color: inherit
  &__close
    position: absolute
    top: 12px
    right: 11px
    background-size: cover
    size: 16px
    display: block
    cursor: pointer
    .icon
      fill: #1C85FF
      transition: 0.3s all ease
      size: 16px
    i.icon-i-reset
      font-size: 16px
      transition: 0.3s all ease
      color: #1C85FF
    &:hover
      .icon
        fill: #000
      i.icon-i-reset
        color: #000
  &__title
    text: #3B3B3D 24px 1.08 bold center
    margin-bottom: 38px
  &__form-inner
    width: 270px
    margin: auto
    position: relative
    z-index: 50
  &__info
    text: #3B3B3D 13px 1.23 center
    margin: 14px 0 20px
  .form-row__input
    height: 35px
  .checkbox
    text: #888B93 11px 1.27
    padding-right: 0
    a
      text: #1C85FF
      text-decoration: none
      &:hover
        text-decoration: underline
#overlay
  size: 100%
  position: fixed
  left: 0
  top: 0
  display: none
  background: #3B3B3D
  opacity: 0.2
  z-index: 900

#feedback
  overflow: hidden
  .icon--question
    position: absolute
    size: 232px
    fill: #F7F8FA
    bottom: -42px
    right: -58px
  .icon-i-question
    position: absolute
    font-size: 232px
    color: #F7F8FA
    bottom: -42px
    right: -58px
#order-done
  width: 100%
  position: fixed
  top: 0!important
  padding: 35px 15px 22px
  overflow: hidden
  .form-row
    position: relative
    z-index: 60
  .icon--check-o
    size: 155px
    position: absolute
    right: -140px
    bottom: -34px
    fill: #F7F8FA
  .icon-i-check-o
    font-size: 155px
    position: absolute
    right: -140px
    bottom: -34px
    color: #F7F8FA
