*
  box-sizing: border-box
:after,
:before
  box-sizing: border-box
body
  min-width: 320px
  font-family: $fontProximaNova
  text: #000 16px 1.4 400
  background: #f7f8fa
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-rendering: optimizeLegibility
// *
//   -moz-user-select: none
//   -ms-user-select: none
//   -o-user-select: none
//   -webkit-user-select: none
