.hidden
  display: none
.text-center
  text-align: center
.text-left
  text-align: left
.text-right
  text-align: right
.text-justify
  text-align: justify
.text-uppercase
  text-transform: uppercase
a
  color: inherit
  &:hover
    text-decoration: none

.h1,h1,.h2,h2,.h3,h3
  margin: 1em *
.h1,h1
  font-size: 36px @md 40px @lg 44px
.h2,h2
  font-size: 30px @md 32px @lg 36px
.h3,h3
  text: #3B3B3D 18px 1.1 bold @lg 20px
