#feedback.modal 
  .modal__close
    i.icon-i-reset
  .modal__title Задать вопрос специалисту
  .modal__form-inner
    .form-row
      input(type="text" placeholder="Ваше имя").form-row__input
    .form-row
      input(type="tel" placeholder="Телефон").form-row__input.phone-mask
    .form-row
      input(type="email" placeholder="Email").form-row__input
    .form-row
      textarea(placeholder="Сообщение").form-row__textarea
    .form-row
      label.checkbox
        .checkbox__cont
          input(type="checkbox" checked).checkbox__input
          .checkbox__style
        | Соглашаюсь с 
        a(href="") политикой обработки данных
    .form-row.form-row--submit
      a(href="#order-done").btn.btn--blue.btn--full.modal-btn отправить
  i.icon-i-question
#order-done.modal 
  .modal__close
    i.icon-i-reset
  .modal__title.mb-0 Поздравляем!
  .modal__info Ваш заказ № 1231234 Оплачен
  .modal__form-inner
    .form-row.mb-0
      a(href="").btn.btn--blue.btn--full отправить
    svg.icon.icon--check-o
      use(xlink:href="img/svg-sprite.svg#check-o")
