header#header.header 
  .main-container 
    .flex-wrap 
      .col-auto 
        a(href="").header__logo
          i.icon-i-logo
          | Конфигуратор 
          br
          | серверного оборудования
      .col-auto.ml-auto
        a(href="#feedback").header__question.modal-btn
          i.icon-i-question
          span вопрос специалисту
        a(href="tel:+ 7(495) 31 88 33").header__phone + 7(495) 31 88 33
        .header__search
          .header__search-btn
            i.icon-i-search
            i.icon-i-reset
        .header__search-cont
          input(type="text" placeholder="Введите название оборудования здесь").header__search-input
          button.header__search-submit
            i.icon-i-search
          .header__search-result
            .header__search-label Результаты (23)
            .header__search-row
              .header__search-item
                a(href="").header__search-inner
                  .header__search-img-w
                    img(src="img/pic-1.jpg", alt="").header__search-img
                  .header__search-name HPE 
                    span DL3
                    |60 
                    br
                    |gen10
                  .header__search-status IU (2CPU max)
              .header__search-item
                a(href="").header__search-inner
                  .header__search-img-w
                    img(src="img/pic-1.jpg", alt="").header__search-img
                  .header__search-name HPE 
                    span DL3
                    |60 
                    br
                    |gen10
                  .header__search-status IU (2CPU max)  
              .header__search-item
                a(href="").header__search-inner
                  .header__search-img-w
                    img(src="img/pic-1.jpg", alt="").header__search-img
                  .header__search-name HPE 
                    span DL3
                    |60 
                    br
                    |gen10
                  .header__search-status IU (2CPU max)
              .header__search-item
                a(href="").header__search-inner
                  .header__search-img-w
                    img(src="img/pic-1.jpg", alt="").header__search-img
                  .header__search-name HPE 
                    span DL3
                    |60 
                    br
                    |gen10
                  .header__search-status IU (2CPU max)
              .header__search-item
                a(href="").header__search-inner
                  .header__search-img-w
                    img(src="img/pic-1.jpg", alt="").header__search-img
                  .header__search-name HPE 
                    span DL3
                    |60 
                    br
                    |gen10
                  .header__search-status IU (2CPU max)
              .header__search-item
                a(href="").header__search-inner
                  .header__search-img-w
                    img(src="img/pic-1.jpg", alt="").header__search-img
                  .header__search-name  
                    span DL3 
                    | HPE 60 
                    br
                    |gen10
                  .header__search-status IU (2CPU max)
              .header__search-item
                a(href="").header__search-inner
                  .header__search-img-w
                    img(src="img/pic-1.jpg", alt="").header__search-img
                  .header__search-name  
                    span DL3 
                    | HPE 60 
                    br
                    |gen10
                  .header__search-status IU (2CPU max)
              .header__search-item
                a(href="").header__search-inner
                  .header__search-img-w
                    img(src="img/pic-1.jpg", alt="").header__search-img
                  .header__search-name  
                    span DL3 
                    | HPE 60 
                    br
                    |gen10
                  .header__search-status IU (2CPU max)
              .header__search-item
                a(href="").header__search-inner
                  .header__search-img-w
                    img(src="img/pic-1.jpg", alt="").header__search-img
                  .header__search-name  
                    span DL3 
                    | HPE 60 
                    br
                    |gen10
                  .header__search-status IU (2CPU max)
              .header__search-item
                a(href="").header__search-inner
                  .header__search-img-w
                    img(src="img/pic-1.jpg", alt="").header__search-img
                  .header__search-name  
                    span DL3 
                    | HPE 60 
                    br
                    |gen10
                  .header__search-status IU (2CPU max)
      .header__switch
        a(href="").header__switch-item.header__switch-item--active
          i.icon-i-logo-h
        a(href="").header__switch-item
          i.icon-i-logo-d
    ul.header__nav
      li.header__nav-item.header__nav-item--active
        a.header__nav-link.header__nav-link--active(href="") 
          span Выбор модели
      li.header__nav-item.header__nav-item--active
        a.header__nav-link.header__nav-link--active(href="") 
          span Список конфигураций
      li.header__nav-item
        a.header__nav-link(href="") 
          span настройка и оформление
