mixin productListItem($active,$img,$name,$category)
  .product-list__item 
    a(href="" class="product-list__inner "+$active)
      .product-list__img-w
        img(src=$img, alt="").product-list__img
      .product-list__cont
        .product-list__name=$name
        .product-list__category=$category

mixin selectedSliderItem($img,$name,$status)
  .selected-slider__item
    a(href="").selected-slider__remove
      svg.icon.icon--remove
        use(xlink:href="img/svg-sprite.svg#remove")
    a(href="").selected-slider__inner
      .selected-slider__img-w
        img(src=$img, alt="").selected-slider__img
      .selected-slider__cont
        .selected-slider__name=$name
        .selected-slider__status=$status


mixin confListItem($active,$img,$name,$code,$text,$price,$delivery_time)
  .conf-list__item
    div(class="conf-list__inner "+$active)
      .conf-list__img-w
        img(src=$img, alt="").conf-list__img
      .conf-list__cont.col 
        a(href="").conf-list__name=$name
        .conf-list__code=$code
        .conf-list__text=$text
        .flex-wrap 
          .col-auto 
            .conf-list__price=$price
            .conf-list__delivery-time=$delivery_time
          .col-auto.ml-auto
            a(href="").btn-r.btn-r--blue.conf-list__btn сконфигурировать
