-  
  var product_list = [
    {
      active: '',
      img: 'img/pic-1.jpg',
      name: 'HPE DL360 gen10',
      category: 'IU (2CPU max)'
    },
    {
      active: 'product-list__inner--active',
      img: 'img/pic-2.jpg',
      name: 'HPE DL360 gen10',
      category: 'IU (2CPU max)'
    },
    {
      active: '',
      img: 'img/pic-3.jpg',
      name: 'HPE DL360 gen10',
      category: 'IU (2CPU max)'
    },
    {
      active: '',
      img: 'img/pic-2.jpg',
      name: 'HPE DL360 gen10',
      category: 'IU (2CPU max)'
    },
    {
      active: '',
      img: 'img/pic-1.jpg',
      name: 'HPE DL360 gen10',
      category: 'IU (2CPU max)'
    },
    {
      active: '',
      img: 'img/pic-2.jpg',
      name: 'HPE DL360 gen10',
      category: 'IU (2CPU max)'
    },
    {
      active: 'product-list__inner--active',
      img: 'img/pic-3.jpg',
      name: 'HPE DL360 gen10',
      category: 'IU (2CPU max)'
    },
    {
      active: '',
      img: 'img/pic-4.jpg',
      name: 'HPE DL360 gen10',
      category: 'IU (2CPU max)'
    },
    {
      active: '',
      img: 'img/pic-1.jpg',
      name: 'HPE DL360 gen10',
      category: 'IU (2CPU max)'
    },
    {
      active: 'product-list__inner--active',
      img: 'img/pic-2.jpg',
      name: 'HPE DL360 gen10',
      category: 'IU (2CPU max)'
    },
    {
      active: '',
      img: 'img/pic-3.jpg',
      name: 'HPE DL360 gen10',
      category: 'IU (2CPU max)'
    },
    {
      active: '',
      img: 'img/pic-4.jpg',
      name: 'HPE DL360 gen10',
      category: 'IU (2CPU max)'
    },
    {
      active: '',
      img: 'img/pic-1.jpg',
      name: 'HPE DL360 gen10',
      category: 'IU (2CPU max)'
    },
    {
      active: '',
      img: 'img/pic-2.jpg',
      name: 'HPE DL360 gen10',
      category: 'IU (2CPU max)'
    },
    {
      active: '',
      img: 'img/pic-3.jpg',
      name: 'HPE DL360 gen10',
      category: 'IU (2CPU max)'
    },
    {
      active: '',
      img: 'img/pic-4.jpg',
      name: 'HPE DL360 gen10',
      category: 'IU (2CPU max)'
    },
    {
      active: '',
      img: 'img/pic-1.jpg',
      name: 'HPE DL360 gen10',
      category: 'IU (2CPU max)'
    },
    {
      active: '',
      img: 'img/pic-2.jpg',
      name: 'HPE DL360 gen10',
      category: 'IU (2CPU max)'
    },
    {
      active: '',
      img: 'img/pic-3.jpg',
      name: 'HPE DL360 gen10',
      category: 'IU (2CPU max)'
    },
    {
      active: '',
      img: 'img/pic-4.jpg',
      name: 'HPE DL360 gen10',
      category: 'IU (2CPU max)'
    }
  ]
  
  var selected = [
    {
      img: 'img/pic-1.jpg',
      name: 'HPE DL360 gen10',
      status: 'IU (2CPU max)'
    },
    {
      img: 'img/pic-2.jpg',
      name: 'HPE DL360 gen10',
      status: 'IU (2CPU max)'
    },
    {
      img: 'img/pic-3.jpg',
      name: 'HPE DL360 gen10',
      status: 'IU (2CPU max)'
    },
    {
      img: 'img/pic-4.jpg',
      name: 'HPE DL360 gen10',
      status: 'IU (2CPU max)'
    },
    {
      img: 'img/pic-1.jpg',
      name: 'HPE DL360 gen10',
      status: 'IU (2CPU max)'
    },
    {
      img: 'img/pic-2.jpg',
      name: 'HPE DL360 gen10',
      status: 'IU (2CPU max)'
    },
    {
      img: 'img/pic-3.jpg',
      name: 'HPE DL360 gen10',
      status: 'IU (2CPU max)'
    },
    {
      img: 'img/pic-4.jpg',
      name: 'HPE DL360 gen10',
      status: 'IU (2CPU max)'
    },
    {
      img: 'img/pic-1.jpg',
      name: 'HPE DL360 gen10',
      status: 'IU (2CPU max)'
    },
    {
      img: 'img/pic-2.jpg',
      name: 'HPE DL360 gen10',
      status: 'IU (2CPU max)'
    },
    {
      img: 'img/pic-3.jpg',
      name: 'HPE DL360 gen10',
      status: 'IU (2CPU max)'
    },
    {
      img: 'img/pic-4.jpg',
      name: 'HPE DL360 gen10',
      status: 'IU (2CPU max)'
    }
  ]
  
  var conf = [
    {
      active: '',
      img: 'img/pic-1.jpg',
      name: 'HPE DL360 gen10',
      code: 'P/N 828882-202',
      text: 'Сервер HPE Plroliant DL360 Gen10 Gold 6130 Rack(1U) / 2xXeon16C 2.1 GHZ (22 Мб) / 2x32GbR2D_2666 / PA08i-aFBWC(2GB) / RAIDF 0 / 1 /10 / 5//50 /6 /60 / NottDD(10)NVMeSFF / noDVD  iLOadv / 7 platforms / 4x1GBRth 2x10',
      price: '236 990 ₽',
      delivery_time: 'Срок поставки: 3 дня'
    },
    {
      active: 'conf-list__inner--active',
      img: 'img/pic-2.jpg',
      name: 'HPE DL360 gen10',
      code: 'P/N 828882-202',
      text: 'Сервер HPE Plroliant DL360 Gen10 Gold 6130 Rack(1U) / 2xXeon16C 2.1 GHZ (22 Мб) / 2x32GbR2D_2666 / PA08i-aFBWC(2GB) / RAIDF 0 / 1 /10 / 5//50 /6 /60 / NottDD(10)NVMeSFF / noDVD  iLOadv / 7 platforms / 4x1GBRth 2x10',
      price: '236 990 ₽',
      delivery_time: 'Срок поставки: 3 дня'
    },
    {
      active: 'conf-list__inner--active',
      img: 'img/pic-3.jpg',
      name: 'HPE DL360 gen10',
      code: 'P/N 828882-202',
      text: 'Сервер HPE Plroliant DL360 Gen10 Gold 6130 Rack(1U) / 2xXeon16C 2.1 GHZ (22 Мб) / 2x32GbR2D_2666 / PA08i-aFBWC(2GB) / RAIDF 0 / 1 /10 / 5//50 /6 /60 / NottDD(10)NVMeSFF / noDVD  iLOadv / 7 platforms / 4x1GBRth 2x10',
      price: '236 990 ₽',
      delivery_time: 'Срок поставки: 3 дня'
    },
    {
      active: '',
      img: 'img/pic-4.jpg',
      name: 'HPE DL360 gen10',
      code: 'P/N 828882-202',
      text: 'Сервер HPE Plroliant DL360 Gen10 Gold 6130 Rack(1U) / 2xXeon16C 2.1 GHZ (22 Мб) / 2x32GbR2D_2666 / PA08i-aFBWC(2GB) / RAIDF 0 / 1 /10 / 5//50 /6 /60 / NottDD(10)NVMeSFF / noDVD  iLOadv / 7 platforms / 4x1GBRth 2x10',
      price: '236 990 ₽',
      delivery_time: 'Срок поставки: 3 дня'
    },
    {
      active: '',
      img: 'img/pic-1.jpg',
      name: 'HPE DL360 gen10',
      code: 'P/N 828882-202',
      text: 'Сервер HPE Plroliant DL360 Gen10 Gold 6130 Rack(1U) / 2xXeon16C 2.1 GHZ (22 Мб) / 2x32GbR2D_2666 / PA08i-aFBWC(2GB) / RAIDF 0 / 1 /10 / 5//50 /6 /60 / NottDD(10)NVMeSFF / noDVD  iLOadv / 7 platforms / 4x1GBRth 2x10',
      price: '236 990 ₽',
      delivery_time: 'Срок поставки: 3 дня'
    },
    {
      active: '',
      img: 'img/pic-2.jpg',
      name: 'HPE DL360 gen10',
      code: 'P/N 828882-202',
      text: 'Сервер HPE Plroliant DL360 Gen10 Gold 6130 Rack(1U) / 2xXeon16C 2.1 GHZ (22 Мб) / 2x32GbR2D_2666 / PA08i-aFBWC(2GB) / RAIDF 0 / 1 /10 / 5//50 /6 /60 / NottDD(10)NVMeSFF / noDVD  iLOadv / 7 platforms / 4x1GBRth 2x10',
      price: '236 990 ₽',
      delivery_time: 'Срок поставки: 3 дня'
    }
  ]

  
  
  
  
  
