extends layouts/layout.pug

block title
  title Configuration page

block content  
  include blocks/header
  .selected-c
    .main-container
      h3 Выбранные модели
      .selected-c__arrow.selected-c__arrow--prev
        svg.icon.icon--arrow-left
          use(xlink:href="img/svg-sprite.svg#arrow-left")
      .selected-c__arrow.selected-c__arrow--next
        svg.icon.icon--arrow-right
          use(xlink:href="img/svg-sprite.svg#arrow-right")
      .selected-c__inner
        .selected-slider
          each selectedIn in selected
            +selectedSliderItem(selectedIn.img,selectedIn.name,selectedIn.status)
  .conf.main-container
    h3 Конфигурации
    .flex-wrap
      .col.content-r 
        .conf-list
          each confIn in conf 
            +confListItem(confIn.active,confIn.img,confIn.name,confIn.code,confIn.text,confIn.price,confIn.delivery_time)
      .aside
        .aside__inner
          .aside__title Фильтр
            i.icon-i-arrow-down
          .aside__cont
            .accordion
              .accordion__header Предустановленные процессоры
                i.icon-i-arrow-down
              .accordion__drop.accordion__drop--active 
                .form-row.mb-0 
                  select.styler
                    option.hidden-option Выберите установку
                    option Установка 1
                    option Установка 2
                    option Установка 3
            .accordion
              .accordion__header Предустановленная RAM
                i.icon-i-arrow-down
              .accordion__drop.accordion__drop--active 
                label.checkbox
                  .checkbox__cont
                    input(type="checkbox" checked).checkbox__input
                    .checkbox__style
                  | 1
                  .checkbox__num 750
                label.checkbox
                  .checkbox__cont
                    input(type="checkbox").checkbox__input
                    .checkbox__style
                  | 2
                  .checkbox__num 69
                label.checkbox
                  .checkbox__cont
                    input(type="checkbox").checkbox__input
                    .checkbox__style
                  | 4
                  .checkbox__num 1
            .accordion
              .accordion__header Форм-фактор дисков
                i.icon-i-arrow-down
              .accordion__drop.accordion__drop--active 
                label.checkbox
                  .checkbox__cont
                    input(type="checkbox" checked).checkbox__input
                    .checkbox__style
                  | 2.5”(SFF)
                  .checkbox__num 750
                label.checkbox
                  .checkbox__cont
                    input(type="checkbox").checkbox__input
                    .checkbox__style
                  | 3.5”(LFF)
                  .checkbox__num 69
            a(href="").btn.btn--blue.btn--full показать результаты
            a(href="").aside__reset 
              i.icon-i-reset 
              | сбросить все фильтры
  .product-footer
    .main-container.flex-wrap
      .product-footer__status Выбрано 
        span 2 конфигурации
      .col-auto 
        a(href="").btn-r.btn-r--blue.product-footer__btn вернуться назад
      .col-auto.ml-auto 
        a(href="").btn.btn--blue.product-footer__btn сконфигурировать  
