extends layouts/layout.pug

block title
  title Main page

block content  
  include blocks/header
  .main-container.cont
    .aside
      .aside__inner
        .aside__title Поиск по 
          span характеристикам
          i.icon-i-arrow-down
        .aside__cont
          .accordion
            .accordion__header тип корпуса
              i.icon-i-arrow-down
            .accordion__drop.accordion__drop--active 
              label.checkbox
                .checkbox__cont
                  input(type="checkbox" checked).checkbox__input
                  .checkbox__style
                | 1U
                .checkbox__num 750
              label.checkbox
                .checkbox__cont
                  input(type="checkbox").checkbox__input
                  .checkbox__style
                | 2U
                .checkbox__num 69
              label.checkbox
                .checkbox__cont
                  input(type="checkbox").checkbox__input
                  .checkbox__style
                | 4U
                .checkbox__num 1
              label.checkbox
                .checkbox__cont
                  input(type="checkbox").checkbox__input
                  .checkbox__style
                | Tower
                .checkbox__num 9
          .accordion
            .accordion__header макс. CPU
              i.icon-i-arrow-down
            .accordion__drop.accordion__drop--active 
              label.checkbox
                .checkbox__cont
                  input(type="checkbox" checked).checkbox__input
                  .checkbox__style
                | 1
                .checkbox__num 750
              label.checkbox
                .checkbox__cont
                  input(type="checkbox").checkbox__input
                  .checkbox__style
                | 2
                .checkbox__num 69
              label.checkbox
                .checkbox__cont
                  input(type="checkbox").checkbox__input
                  .checkbox__style
                | 4
                .checkbox__num 1
          .accordion
            .accordion__header форм фактор
              i.icon-i-arrow-down
            .accordion__drop.accordion__drop--active 
              label.checkbox
                .checkbox__cont
                  input(type="checkbox" checked).checkbox__input
                  .checkbox__style
                | 2.5”(SFF)
                .checkbox__num 750
              label.checkbox
                .checkbox__cont
                  input(type="checkbox").checkbox__input
                  .checkbox__style
                | 3.5”(LFF)
                .checkbox__num 69
          .aside__sub-title Планирую установку
          .form-row.mb-0 
            select.styler
              option.hidden-option Выберите установку
              option Установка 1
              option Установка 2
              option Установка 3
          .aside__hint Выберите одну из 20 готовых установок
          a(href="").btn.btn--blue.btn--full показать результаты
          a(href="").aside__reset 
            i.icon-i-reset 
            | сбросить все фильтры
    .content-l.col
      .product-list
        each productList in product_list
          +productListItem(productList.active,productList.img,productList.name,productList.category)
  .product-footer
    .main-container.flex-wrap
      .product-footer__status Выбрано 
        span 3 модели 
        |и 
        span 10 конфигураций
      .col-auto.ml-auto 
        a(href="").btn.btn--blue.product-footer__btn показать конфигурации  
      
