extends layouts/layout.pug

block title
  title Settings page

block content  
  include blocks/header
  .settings.main-container
    .settings__item
      a(href="").settings__remove.settings__remove--all
        i.icon-i-remove
      .settings__img-w
        img(src="img/pic-1.jpg", alt="").settings__img
        img(src="img/logo-1.svg", alt="").settings__logo
      .settings__cont.col 
        .settings__name Сервер HP ProLiant DL360 Gen10
        .flex-wrap
          .settings__a-col
            .accordion
              .accordion__header Предустановленная конфигурация
                svg.icon.icon--arrow-down
                  use(xlink:href="img/svg-sprite.svg#arrow-down")
              .accordion__drop
                ul.settings__list
                  li.settings__list-item LxIntel® Xeon-Gold 5118
                  li.settings__list-item Lx32GB Dual Rank x4 DDR2-2666
                  li.settings__list-item LxIntel® Xeon-Gold 5118
                  li.settings__list-item Lx32GB Dual Rank x4 DDR2-2666
                  li.settings__list-item LxIntel® Xeon-Gold 5118
            .accordion
              .accordion__header Полезные ссылки
                svg.icon.icon--arrow-down
                  use(xlink:href="img/svg-sprite.svg#arrow-down")
              .accordion__drop
                ul.settings__list
                  li.settings__list-item 
                    a(href="").settings__list-link HPE Proliant ВД380 Gen10 Quickspecs
                  li.settings__list-item 
                    a(href="").settings__list-link Технические данные
                  li.settings__list-item 
                    a(href="").settings__list-link Гарантийные обязательства
                  li.settings__list-item 
                    a(href="").settings__list-link Описание платформы
            .accordion
              .accordion__header Добавленные опции:
                svg.icon.icon--arrow-down
                  use(xlink:href="img/svg-sprite.svg#arrow-down")
              .accordion__drop
                ul.settings__list
                  li.settings__list-item LxIntel® Xeon-Gold 5118
                    a(href="").settings__remove
                      i.icon-i-remove
                  li.settings__list-item Lx32GB Dual Rank x4 DDR2-2666
                    a(href="").settings__remove
                      i.icon-i-remove
          .settings__a-cont.col 
            .accordion
              .accordion__header Конфигурирование
                svg.icon.icon--arrow-down
                  use(xlink:href="img/svg-sprite.svg#arrow-down")
              .accordion__drop
                .settings__info
                  .settings__info-row
                    .settings__info-r-name Процессор
                    .settings__info-cont
                      .flex-wrap 
                        .settings__info-name.col Inte® Xeon-Gold 5118 (2,3 Ghz / 12-core / 105w)
                        a(href="").settings__info-add 
                          i.icon-i-add
                          | Добавить
                  .settings__info-row
                    .settings__info-r-name Память
                    .settings__info-cont
                      .flex-wrap 
                        .settings__info-name.col 32GB Dual Rank x4 DDR4-2666 GAS-19-19 Registre
                        a(href="").settings__info-add 
                          i.icon-i-add
                          | Добавить
                      a(href="").settings__link Схема расположения по слотам
                      .settings__table 
                        .settings__table-row
                          .settings__table-td.settings__table-td--col-1.col
                            select.styler
                              option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                              option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis 2
                          .settings__table-td.settings__table-td--small
                              select.styler 
                                option 1шт
                                option 2шт
                          .settings__table-td.settings__table-td--remove
                            a(href="").settings__remove
                              i.icon-i-remove
                        .settings__table-row
                          .settings__table-td.settings__table-td--col-1.col
                            select.styler
                              option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                              option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis 2
                          .settings__table-td.settings__table-td--small
                              select.styler 
                                option 1шт
                                option 2шт
                          .settings__table-td.settings__table-td--remove
                            a(href="").settings__remove
                              i.icon-i-remove
                  .settings__info-row
                    .settings__info-r-name RAID контроллер
                    .settings__info-cont
                      .flex-wrap 
                        .settings__info-name.col E-208i-a SR Gen10 Lh / No Chache /12 GB / 2
                        a(href="").settings__info-add 
                          i.icon-i-add
                          | Добавить
                      a(href="").settings__link Расчитать RAID массив
                      .settings__table 
                        .settings__table-row
                          .settings__table-td.settings__table-td--small
                              select.styler 
                                option SSD
                                option SSD 2
                          .settings__table-td.settings__table-td--col-2.col
                            select.styler
                              option Intel s4600
                              option Intel s4600 2
                          .settings__table-td.settings__table-td--small
                              select.styler 
                                option 1шт
                                option 2шт
                          .settings__table-td.settings__table-td--remove
                            a(href="").settings__remove
                              i.icon-i-remove
                        .settings__table-row
                          .settings__table-td.settings__table-td--small
                              select.styler 
                                option SSD
                                option SSD 2
                          .settings__table-td.settings__table-td--col-2.col
                            select.styler
                              option Intel s4600
                              option Intel s4600 2
                          .settings__table-td.settings__table-td--small
                              select.styler 
                                option 1шт
                                option 2шт
                          .settings__table-td.settings__table-td--remove
                            a(href="").settings__remove
                              i.icon-i-remove
        .settings__footer
          .col-auto 
            a(href="").settings__save
              i.icon-i-save
              | Сохранить конфигурацию
          .col-auto.ml-auto
            .settings__delivery-time Срок поставки: 
              span 3 дня
            .settings__price 236 990 
              span ₽
    .settings__item
      a(href="").settings__remove.settings__remove--all
        i.icon-i-remove
      .settings__img-w
        img(src="img/pic-1.jpg", alt="").settings__img
        img(src="img/logo-1.svg", alt="").settings__logo
      .settings__cont.col 
        .settings__name Сервер HP ProLiant DL360 Gen10
        .flex-wrap
          .settings__a-col
            .accordion
              .accordion__header Предустановленная конфигурация
                svg.icon.icon--arrow-down
                  use(xlink:href="img/svg-sprite.svg#arrow-down")
              .accordion__drop 
                ul.settings__list
                  li.settings__list-item LxIntel® Xeon-Gold 5118
                  li.settings__list-item Lx32GB Dual Rank x4 DDR2-2666
                  li.settings__list-item LxIntel® Xeon-Gold 5118
                  li.settings__list-item Lx32GB Dual Rank x4 DDR2-2666
                  li.settings__list-item LxIntel® Xeon-Gold 5118
            .accordion
              .accordion__header Полезные ссылки
                svg.icon.icon--arrow-down
                  use(xlink:href="img/svg-sprite.svg#arrow-down")
              .accordion__drop
                ul.settings__list
                  li.settings__list-item 
                    a(href="").settings__list-link HPE Proliant ВД380 Gen10 Quickspecs
                  li.settings__list-item 
                    a(href="").settings__list-link Технические данные
                  li.settings__list-item 
                    a(href="").settings__list-link Гарантийные обязательства
                  li.settings__list-item 
                    a(href="").settings__list-link Описание платформы
            .accordion
              .accordion__header Добавленные опции:
                svg.icon.icon--arrow-down
                  use(xlink:href="img/svg-sprite.svg#arrow-down")
              .accordion__drop 
                ul.settings__list
                  li.settings__list-item LxIntel® Xeon-Gold 5118
                    a(href="").settings__remove
                      i.icon-i-remove
                  li.settings__list-item Lx32GB Dual Rank x4 DDR2-2666
                    a(href="").settings__remove
                      i.icon-i-remove
          .settings__a-cont.col 
            .accordion
              .accordion__header Конфигурирование
                svg.icon.icon--arrow-down
                  use(xlink:href="img/svg-sprite.svg#arrow-down")
              .accordion__drop
                .settings__info
                  .settings__info-row
                    .settings__info-r-name Процессор
                    .settings__info-cont 
                      .flex-wrap 
                        .settings__info-name.col Inte® Xeon-Gold 5118 (2,3 Ghz / 12-core / 105w)
                        a(href="").settings__info-add 
                          i.icon-i-add
                          | Добавить
                  .settings__info-row
                    .settings__info-r-name Память
                    .settings__info-cont 
                      .flex-wrap 
                        .settings__info-name.col 32GB Dual Rank x4 DDR4-2666 GAS-19-19 Registre
                        a(href="").settings__info-add 
                          i.icon-i-add
                          | Добавить
                      a(href="").settings__link Схема расположения по слотам
                      .settings__table 
                        .settings__table-row
                          .settings__table-td.settings__table-td--col-1.col
                            select.styler
                              option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                              option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis 2
                          .settings__table-td.settings__table-td--small
                              select.styler 
                                option 1шт
                                option 2шт
                          .settings__table-td.settings__table-td--remove
                            a(href="").settings__remove
                              i.icon-i-remove
                        .settings__table-row
                          .settings__table-td.settings__table-td--col-1.col
                            select.styler
                              option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis
                              option I32GB Dual Rank x4 DDR4-2666 GAS-19-19 Regis 2
                          .settings__table-td.settings__table-td--small
                              select.styler 
                                option 1шт
                                option 2шт
                          .settings__table-td.settings__table-td--remove
                            a(href="").settings__remove
                              i.icon-i-remove
                  .settings__info-row
                    .settings__info-r-name RAID контроллер
                    .settings__info-cont 
                      .flex-wrap 
                        .settings__info-name.col E-208i-a SR Gen10 Lh / No Chache /12 GB / 2
                        a(href="").settings__info-add 
                          i.icon-i-add
                          | Добавить
                      a(href="").settings__link Расчитать RAID массив
                      .settings__table 
                        .settings__table-row
                          .settings__table-td.settings__table-td--small
                              select.styler 
                                option SSD
                                option SSD 2
                          .settings__table-td.settings__table-td--col-2.col
                            select.styler
                              option Intel s4600
                              option Intel s4600 2
                          .settings__table-td.settings__table-td--small
                              select.styler 
                                option 1шт
                                option 2шт
                          .settings__table-td.settings__table-td--remove
                            a(href="").settings__remove
                              i.icon-i-remove
                        .settings__table-row
                          .settings__table-td.settings__table-td--small
                              select.styler 
                                option SSD
                                option SSD 2
                          .settings__table-td.settings__table-td--col-2.col
                            select.styler
                              option Intel s4600
                              option Intel s4600 2
                          .settings__table-td.settings__table-td--small
                              select.styler 
                                option 1шт
                                option 2шт
                          .settings__table-td.settings__table-td--remove
                            a(href="").settings__remove
                              i.icon-i-remove
        .settings__footer
          .col-auto 
            a(href="").settings__save
              i.icon-i-save
              | Сохранить конфигурацию
          .col-auto.ml-auto
            .settings__delivery-time Срок поставки: 
              span 3 дня
            .settings__price 236 990 
              span ₽
    .settings__feedback
      .col-auto 
        .settings__feedback-info
          i.icon-i-question
          | Если у вас возникли сложности с подбором оборудования, вы можете 
          span  позвонить в наш call-центр или задать вопрос специалисту.
      .col-auto.ml-auto 
        a(href="tel:+ 7 (495) 31 88 33").settings__feedback-phone + 7 (495) 31 88 33
        a(href="#feedback").btn-r.btn-r--blue.settings__feedback--btn.modal-btn
          i.icon-i-question
          | задать вопрос специалисту
  .settings__total
    .main-container.flex-wrap
      .col-auto 
        a(href="").btn-r.btn-r--blue.settings__total--btn вернуться назад
        .settings__total-delivery-time Срок поставки
          span 
            svg.icon.icon--calendar
              use(xlink:href="img/svg-sprite.svg#calendar")
            | 3 дня
      .col-auto.ml-auto 
        .settings__total-box
          .settings__total-label Итоговая 
            span сумма заказа
          .settings__total-price 1 236 990 
            span ₽
          .settings__total-delivery-time.settings__total-delivery-time--mob Срок поставки 
            span 3 дня
        .settings__total-box
          .settings__total-label Ваш телефон для 
            span оформления заказа
          .form-row 
            input(type="text" placeholder="+7 (___) ___ __ __").form-row__input.phone-mask.phone-mask--val
        a(href="")#checkout.btn.btn--gray.settings__total--btn оформить заказ
