@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1f4xg6');
  src:  url('fonts/icomoon.eot?1f4xg6#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1f4xg6') format('truetype'),
    url('fonts/icomoon.woff?1f4xg6') format('woff'),
    url('fonts/icomoon.svg?1f4xg6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e900";
}
.icon-arrow-down:before {
  content: "\e901";
}
.icon-arrow-left:before {
  content: "\e902";
}
.icon-arrow-right:before {
  content: "\e903";
}
.icon-calendar:before {
  content: "\e904";
}
.icon-check:before {
  content: "\e905";
}
.icon-check-o:before {
  content: "\e906";
}
.icon-logo:before {
  content: "\e907";
}
.icon-logo-d:before {
  content: "\e908";
}
.icon-logo-h:before {
  content: "\e909";
}
.icon-question:before {
  content: "\e90a";
}
.icon-remove:before {
  content: "\e90b";
}
.icon-reset:before {
  content: "\e90c";
}
.icon-save:before {
  content: "\e90d";
}
.icon-search:before {
  content: "\e90e";
}
